@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.filament-tables-table table {
    border: 1px solid white;
}

/* Encabezados */
.fi-ta-table thead{
    @apply  !bg-red-700; 
}

.fi-ta-header-cell {
    @apply !bg-transparent;
    font-weight: bold;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
}

.fi-modal-header {
    @apply !bg-red-700;
    font-weight: bold;
    vertical-align: middle;
    color: #ffffff;
}